.popupcontainer {
  display: none;
  z-index: 400;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -40vh;
  margin-left: -30vw;
  width: 60vw;
  height: 80vh;
}

.popup {
  width: 60vw;
  height: 80vh;
  padding: 1.5vw;
  display: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15),
    -10px 10px 10px rgba(0, 0, 0, 0.15);
}

#poppollution {
  background-color: rgb(135, 244, 112);
}

#poproutine {
  background-color: rgb(188, 108, 255);
}

#poprichness {
  background-color: rgb(232, 94, 51);
}

#popcelebrities {
  background-color: rgb(255, 238, 84);
}

#popeveryday {
  background-color: rgb(253, 174, 205);
}

.titpop {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  margin-left: 0.5vw;
  top: 0;
  padding: 0.6vh;
  font-size: 1.5rem;
  text-align: Left;
  border-radius: 100px;
}

.frase1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4vw;
  position: relative;
  margin-right: 10%;
  margin-top: 0.7vh;
  letter-spacing: -0.045em;
  line-height: 91%;
}

.frase2 {
  position: relative;
  width: 20%;
  margin-right: 10vw;
  margin-top: 9vh;
  line-height: 97.5%;
  font-size: 1.4vw;
}

.titlist {
  padding-left: 0.4vw;
  margin-left: 0;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  position: relative;
  margin-top: 28vh;
  font-size: 1.5vw;
}

.close {
  opacity: 1;
}

.close:hover {
  opacity: 1;
}

.closepop {
  /* padding: 0; */
  width: 100%;
  height: 80vh;
}

.imgclose {
  opacity: 1;
  width: 8vw;
  margin-top: 0.4vh;
  padding-right: 1vw;
  transition: transform 0.2s; /* Animation */
}

.imgclose:hover {
  cursor: pointer;
  transform: scale(
    1.08
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.close:hover {
  opacity: 1;
}

.titkey {
  padding-left: 0;
}

.listcont {
  position: relative;
  text-align: left;
  height: 38vh;
  padding-left: 0.4vw;
  padding-top: 1vh;
  padding-bottom: 10vh;
  line-height: 80%;
  margin-top: 2vh;
  overflow-y: scroll;
  font-size: 1.5vw;
}

.listcont::-webkit-scrollbar {
  display: none;
}

.scrollgradientcel {
  position: absolute;
  bottom: 0;
  margin-bottom: 5vh;
  height: 5vh;
  width: 100%;
  z-index: 500;
  background-color: #ffee54;
  box-shadow: 0px -40px 5px #ffee54;
}

.scrollgradientpol {
  position: absolute;
  bottom: 0;
  margin-bottom: 5vh;
  height: 5vh;
  width: 100%;
  z-index: 500;
  background-color: #87f470;
  box-shadow: 0px -40px 5px #87f470;
}

.scrollgradientrou {
  position: absolute;
  bottom: 0;
  margin-bottom: 5vh;
  height: 5vh;
  width: 100%;
  z-index: 500;
  background-color: #bc6cff;
  box-shadow: 0px -40px 5px #bc6cff;
}

.scrollgradientric {
  position: absolute;
  bottom: 0;
  margin-bottom: 5vh;
  height: 5vh;
  width: 100%;
  z-index: 500;
  background-color: #e85e33;
  box-shadow: 0px -40px 5px #e85e33;
}

.scrollgradienteve {
  position: absolute;
  bottom: 0;
  margin-bottom: 5vh;
  height: 5vh;
  width: 100%;
  z-index: 500;
  background-color: #fdaecd;
  box-shadow: 0px -40px 5px #fdaecd;
}

.titfocus {
  font-family: MonMed;
  position: relative;
  margin-top: 5vh;
}

.focus {
  position: relative;
  margin-top: 1vh;
  font-size: 1rem;
  line-height: 98%;
}

.nklist {
  font-family: MonReg;
}
